body{
    background-image: url(./img/background.png);
    margin: 0;
    padding: 0;
    background-size: cover;

    transition: background-image 0.2 linear;
}
body.dark{
    background-image: url(./img/background-dark.png);
}

.logoTelaInicial{
    padding-left: 50px;
    width: 159px;
    height: 146px;
    flex-shrink: 0;
}

.botaoSobre {
    width: 242px;
    height: 52px;
    color: aliceblue;
    border-radius: 100px;
    border: 1px solid ;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-size: 21px;
    background-color: transparent;
}

.botoes{
    list-style: none; /* Remove os marcadores da lista */
    padding: 0;
    display: flex; /* Torna a lista um contêiner flexível */
    justify-content: center; /* Centraliza os itens da lista */
    margin: 0 10px;
}.botaoSobre:hover {
    color: white;
    background-color: #6bc6dc; /* Cor de fundo ao passar o mouse */
    transform: scale(1.1);
}

.BotoesSelecionados{
    margin: 25px;
    margin-top: -100px;
}

.FotoDePerfil{
    display: flex;
    width: 300px;
    padding-top: 50px;
    display: block; /* Remove espaços em branco abaixo da imagem quando exibida como elemento inline */
    margin: 0 auto;
}

.Texto{
    font-family: 'Roboto', sans-serif;
    color: white;
    text-align: center;
}

.caixaPrincipal{
    background-color: #021524;
    justify-content: center;
    width: 500px;
    height: 700px;
    border: 1px solid white;
    margin: auto;
    border-radius: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.BotaoSobreMim1{
    padding-top: 15px;
}
.BotaoSobreMim{
    width: 242px;
    height: 52px;
    color: aliceblue;
    border-radius: 100px;
    border: 1px solid ;
    font-size: 21px;
    background-color: transparent;
    padding-top: px;
}.BotaoSobreMim:hover{
    color: white;
    background-color: #6bc6dc; /* Cor de fundo ao passar o mouse */
    transform: scale(1.1);
}

.moonSun{
    position: absolute;
    top: 10px;
    right: 100px;
    width: 50px;
}
.checkbox{
    opacity: 0;
    position: absolute;
    top: 8px;
    width: 15px;
    height: 15px;
}

.label{
    background-color: black;
    border-radius: 50px;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 10px;
    padding-left: 20px;
    position: relative;
    height: 26px;
    width: 50px;
    transform: scale(1);
}

.label .ball{
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    left: 4px;
    z-index: 1;

    height: 35px;
    width: 35px;

    transform: translateX(0px);
    transition: transform 0.2 linear;
}

.checkbox:checked + .label .ball{
    transform: translateX(37px);
}

.fa-moon{
    position: relative;
    right: 7px;
    z-index: 2;
    color: #f1c40f;
}

.fa-sun{
    position: relative;
    right: 3px;
    z-index: 2;
    color: #f39c12;
}